<?xml version='1.0' encoding='utf-8'?>
<robot name="hsrc_hand">
  <material name="body_main">
    <color rgba="1.0 0.0 0.0 1.0" />
  </material>
  <material name="body_sub">
    <color rgba="0.33 0.33 0.33 1.0" />
  </material>
  <material name="wheel">
    <color rgba="0.2 0.2 0.2 1.0" />
  </material>
  <material name="black">
    <color rgba="0.1 0.1 0.1 1.0" />
  </material>
  <material name="tablet">
    <color rgba="0.1 0.1 0.2 1.0" />
  </material>
  
  <link name="base_link" />
  <joint name="hand_palm_joint" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
    <parent link="base_link" />
    <child link="hand_palm_link" />
  </joint>
  <link name="hand_palm_link">
    <inertial>
      <mass value="0.15" />
      <inertia ixx="0.015" ixy="0.0" ixz="0.0" iyy="0.015" iyz="0.0" izz="0.015" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/palm.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/palm.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="hand_motor_joint" type="revolute">
    <axis xyz="1.0 0.0 0.0" />
    <limit effort="100.0" lower="-0.798" upper="1.24" velocity="1.0" />
    <parent link="hand_palm_link" />
    <child link="hand_motor_dummy_link" />
    <dynamics damping="0.0001" />
  </joint>
  <link name="hand_motor_dummy_link">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>
  <joint name="hand_l_proximal_joint" type="revolute">
    <origin rpy="0.0 0.0 0.0" xyz="-0.031 -0.0245 -0.0165" />
    <axis xyz="1.0 0.0 0.0" />
    <limit effort="100.0" lower="-0.798" upper="1.24" velocity="1.0" />
    <parent link="hand_palm_link" />
    <child link="hand_l_proximal_link" />
    <mimic joint="hand_motor_joint" />
    <dynamics damping="0.0001" />
  </joint>
  <link name="hand_l_proximal_link">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>
  <joint name="hand_l_spring_proximal_joint" type="revolute">
    <axis xyz="1.0 0.0 0.0" />
    <limit effort="10.0" lower="0.0" upper="0.698" velocity="1.0" />
    <parent link="hand_l_proximal_link" />
    <child link="hand_l_spring_proximal_link" />
    <dynamics damping="0.0001" />
  </joint>
  <link name="hand_l_spring_proximal_link">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0.021418 0.00248 0.022688" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/l_proximal.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0205 -0.0075 0.04" />
      <geometry>
        <box size="0.032 0.015 0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="hand_l_mimic_distal_joint" type="revolute">
    <origin xyz="0.0 0.0 0.07" />
    <axis xyz="1.0 0.0 0.0" />
    <limit effort="100.0" lower="-0.698" upper="-0.0" velocity="1.0" />
    <parent link="hand_l_spring_proximal_link" />
    <child link="hand_l_mimic_distal_link" />
    <mimic joint="hand_l_spring_proximal_joint" multiplier="-1.0" />
    <dynamics damping="0.0001" />
  </joint>
  <link name="hand_l_mimic_distal_link">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>
  <joint name="hand_l_distal_joint" type="revolute">
    <axis xyz="1.0 0.0 0.0" />
    <limit effort="100.0" lower="-1.24" upper="0.798" velocity="1.0" />
    <parent link="hand_l_mimic_distal_link" />
    <child link="hand_l_distal_link" />
    <mimic joint="hand_motor_joint" multiplier="-1.0" offset="-0.087" />
    <dynamics damping="0.0001" />
  </joint>
  <link name="hand_l_distal_link">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0.011116 0.005679 0.017532" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/l_distal.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.02 0.018 0.025" />
      <geometry>
        <box size="0.04 0.01 0.032" />
      </geometry>
    </collision>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.02 0.0015 0.02" />
      <geometry>
        <box size="0.04 0.023 0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="hand_l_finger_tip_frame_joint" type="fixed">
    <origin rpy="-1.5707963267948966 0.0 0.0" xyz="0.0195 0.0226 0.0409" />
    <parent link="hand_l_distal_link" />
    <child link="hand_l_finger_tip_frame" />
    <dynamics damping="0.0001" />
  </joint>
  <link name="hand_l_finger_tip_frame">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>
  <joint name="hand_l_finger_vacuum_frame_joint" type="fixed">
    <origin rpy="0.6981317007977318 0.0 0.0" xyz="0.0065 -0.00953 0.035577" />
    <parent link="hand_l_distal_link" />
    <child link="hand_l_finger_vacuum_frame" />
  </joint>
  <link name="hand_l_finger_vacuum_frame">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.01" />
      <geometry>
        <box size="0.008 0.008 0.02" />
      </geometry>
      <material name="body_sub" />
    </visual>
  </link>
  <joint name="hand_r_proximal_joint" type="revolute">
    <origin rpy="0.0 0.0 0.0" xyz="-0.031 0.0245 -0.0165" />
    <axis xyz="-1.0 0.0 0.0" />
    <limit effort="100.0" lower="-0.798" upper="1.24" velocity="1.0" />
    <parent link="hand_palm_link" />
    <child link="hand_r_proximal_link" />
    <mimic joint="hand_motor_joint" />
    <dynamics damping="0.0001" />
  </joint>
  <link name="hand_r_proximal_link">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>
  <joint name="hand_r_spring_proximal_joint" type="revolute">
    <axis xyz="-1.0 0.0 0.0" />
    <limit effort="10.0" lower="0.0" upper="0.698" velocity="1.0" />
    <parent link="hand_r_proximal_link" />
    <child link="hand_r_spring_proximal_link" />
    <dynamics damping="0.0001" />
  </joint>
  <link name="hand_r_spring_proximal_link">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0.013203 0.002096 0.023311" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/r_proximal.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0205 0.0075 0.04" />
      <geometry>
        <box size="0.032 0.015 0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="hand_r_mimic_distal_joint" type="revolute">
    <origin xyz="0.0 0.0 0.07" />
    <axis xyz="-1.0 0.0 0.0" />
    <limit effort="100.0" lower="-0.698" upper="-0.0" velocity="1.0" />
    <parent link="hand_r_spring_proximal_link" />
    <child link="hand_r_mimic_distal_link" />
    <mimic joint="hand_r_spring_proximal_joint" multiplier="-1.0" />
    <dynamics damping="0.0001" />
  </joint>
  <link name="hand_r_mimic_distal_link">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>
  <joint name="hand_r_distal_joint" type="revolute">
    <axis xyz="-1.0 0.0 0.0" />
    <limit effort="100.0" lower="-1.24" upper="0.798" velocity="1.0" />
    <parent link="hand_r_mimic_distal_link" />
    <child link="hand_r_distal_link" />
    <mimic joint="hand_motor_joint" multiplier="-1.0" offset="-0.087" />
    <dynamics damping="0.0001" />
  </joint>
  <link name="hand_r_distal_link">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0.014256 -0.008321 0.015591" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/r_distal.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.02 -0.018 0.025" />
      <geometry>
        <box size="0.04 0.01 0.032" />
      </geometry>
    </collision>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.02 -0.0015 0.02" />
      <geometry>
        <box size="0.04 0.023 0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="hand_r_finger_tip_frame_joint" type="fixed">
    <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0195 -0.0226 0.0409" />
    <parent link="hand_r_distal_link" />
    <child link="hand_r_finger_tip_frame" />
  </joint>
  <link name="hand_r_finger_tip_frame">
    <inertial>
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>
  <joint name="hand_camera_frame_joint" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="0.026 0.0 0.0034" />
    <parent link="hand_palm_link" />
    <child link="hand_camera_frame" />
  </joint>
  <link name="hand_camera_frame">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
  </link>
  <joint name="hand_camera_gazebo_frame_joint" type="fixed">
    <origin rpy="1.5707963267948966 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="hand_camera_frame" />
    <child link="hand_camera_gazebo_frame" />
  </joint>
  <link name="hand_camera_gazebo_frame">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
  </link>
  <gazebo reference="hand_camera_gazebo_frame">
    <sensor name="hand_camera" type="camera">
      <update_rate>10.0</update_rate>
      <camera name="hand_camera">
        <horizontal_fov>2.00</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
        <distortion>
          <k1>0.0</k1>
          <k2>0.0</k2>
          <k3>0.0</k3>
          <p1>0.0</p1>
          <p2>0.0</p2>
        </distortion>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="hand_camera_camera_controller">
        <camera_name>hand_camera</camera_name>
        <frame_name>hand_camera_frame</frame_name>
        <hack_baseline>0.07</hack_baseline>
        <ros>
          <namespace />
        </ros>
      </plugin>
    </sensor>
  </gazebo>
  <gazebo reference="hand_palm_link">
    <selfCollide>False</selfCollide>
    <gravity>True</gravity>
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>
  <gazebo reference="hand_camera_frame">
    <selfCollide>False</selfCollide>
    <gravity>False</gravity>
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>
  <gazebo reference="hand_l_proximal_link">
    <selfCollide>False</selfCollide>
    <gravity>True</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_l_spring_proximal_link">
    <selfCollide>False</selfCollide>
    <gravity>True</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_l_mimic_distal_link">
    <selfCollide>False</selfCollide>
    <gravity>True</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_l_distal_link">
    <selfCollide>False</selfCollide>
    <gravity>True</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_l_finger_tip_frame">
    <selfCollide>False</selfCollide>
    <gravity>False</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_l_finger_vacuum_frame">
    <selfCollide>False</selfCollide>
    <gravity>False</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_r_proximal_link">
    <selfCollide>False</selfCollide>
    <gravity>True</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_r_spring_proximal_link">
    <selfCollide>False</selfCollide>
    <gravity>True</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_r_mimic_distal_link">
    <selfCollide>False</selfCollide>
    <gravity>True</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_r_distal_link">
    <selfCollide>False</selfCollide>
    <gravity>False</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_r_finger_tip_frame">
    <selfCollide>False</selfCollide>
    <gravity>False</gravity>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
  <gazebo reference="hand_palm_joint">
  </gazebo>
  <gazebo reference="hand_motor_joint">
  </gazebo>
  <gazebo reference="hand_l_proximal_joint">
  </gazebo>
  <gazebo reference="hand_l_spring_proximal_joint">
  </gazebo>
  <gazebo reference="hand_l_mimic_distal_joint">
  </gazebo>
  <gazebo reference="hand_l_distal_joint">
  </gazebo>
  <gazebo reference="hand_r_proximal_joint">
  </gazebo>
  <gazebo reference="hand_r_spring_proximal_joint">
  </gazebo>
  <gazebo reference="hand_r_mimic_distal_joint">
  </gazebo>
  <gazebo reference="hand_r_distal_joint">
  </gazebo>
</robot>